@import url("https://use.typekit.net/bzn6gfe.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: articulat-cf, sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

/* Navbar Styles */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 5vh;
}

.nav-title {
  text-decoration: none;

  font-weight: 600;
  font-size: clamp(2rem, 4vw, 2rem);

  color: inherit;

  transition: color 500ms ease, transform 500ms ease;
}

.navlinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navlink {
  text-decoration: none;

  font-weight: 400;
  font-size: clamp(1.5rem, 3vw, 1.5rem);

  padding: 0.3em;

  color: inherit;

  cursor: pointer;
}

.nav-title:hover {
  color: #338BFF;
  transform: scale(1.05);
}

.navlinks:hover > .navlink {
  opacity: 0.3;
}

.navlinks:hover > .navlink:hover {
  opacity: 1;
  text-decoration: underline;
  color: #338BFF;
  font-weight: 600;
}