@import url("https://use.typekit.net/bzn6gfe.css");

* {
  padding: 0;
  margin: 0;
  font-family: articulat-cf, sans-serif;
  font-style: normal;
}

/* Sign Up Styles */

.form-container {
  position: absolute;
  width: 25vw;
  height: 22vh;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

.header {
  font-weight: 500;
  font-size: clamp(3rem, 6vw, 3rem);

  color: inherit;
} 

.description {
  font-weight: 300;
  font-size: clamp(1rem, 2vw, 1rem);

  color: inherit;
}

.inputField {
  position: absolute;
  right: 0.5vw;
  top: 13vh;

  text-align: center;

  height: 3em;
  width: 24vw;

  border-radius: 2em;
  border: 2px solid #191919;

  font-size: clamp(0.7rem, 2vw, 0.7rem);
  font-weight: 800;
}

.button {
  position: absolute;
  top: 19vh;

  height: 5vh;
  
  border-radius: 1em;
  border: 2px solid #191919;
  padding: 0.3em;

  font-size: clamp(1rem, 2vw, 1rem);

  background: none;
}

.button:hover {
  background-color: #3091FF;
  color: #F3F3F3;
}